* {margin:0px;padding:0px;}
a img{border:none;}/* Убираем рамку вокруг изображений-ссылок */	

table {
margin:-2px 0 0 -2px;
}



/*	frame table	*/
#mf4 {	/*	1 рамка главное меню	*/
 border: 1px solid #ad1e00 ;
 width: 584px;	/*	ширина меню	(584=12s)	*/
}
#mf2 {
 border: 2px solid #f79518 ; 
 }
#mf3 {
 border: 2px solid #742200 ;
 }
/*	end frame table	*/
/*	main menu	*/
#mmenu {
 margin: 0px ;
 padding: 0px ;
 width : auto ;
 height: 48px ; /*	высота полосы значков	*/ 
 background: #0085ED url('im1.jpg') ;/*Фон изображение меню*/
 list-style: none ;
 float:none;
}
#mmenu img {
 width : 48px ; /*	высота значков	*/
 float: left ;
 margin:0px; 
 padding:0px;
}
.mm img:hover {
 background: red ;
}
/*	end main menu	*/
/*	content menu	*/
#menu {
 margin: 0px ;
 padding: 0px ;
 width : auto ;
 height: 384px ;	/*	высота панели	*/
 /*	height 384 = 8 s	*/
 background: #0085ED url('im2.png') ;/*Фон изображение меню*/
 list-style: none ;
}
#menu img {
width : 48px ;
 float: left ;
 margin:0px; 
}
.cm img:hover {
 background: yellow ;
}
/*	end content menu	*/
/*	дoполнитeльное	*/



#mse {

 /*background: #085ED url('bgt.png') repeat;*/

 /*padding:20px 50px 10px 10px;
 margin-top: -24px;
 margin-left:0px;
 margin-bottom:0px;
 margin-right:0px;*/
}
#nnn {
background: #000 url('bgt.png') repeat;
color:#345;
}



/*	end дoполнитeльное	*/
