#fcpanel {
float:left;
 width : 50% ;
 padding-left:3px;
}
#scpanel {
float:left;
width : 270px ; /*! ?*/
padding-top:1px;
}
a{text-decoration: none;}
a:hover{
text-decoration: underline;
color: green;
}
.sy32 div{
padding-top:14px;
padding-left:5px;
font-family:tahoma,verdana;
font-style: oblique;
color:#473D2F; /*Цвет текста вкладки настройки*/
font-size:13px;/*14*/
font-weight:bold;

}

 .sy32 img{
 clear:left;;
 }

.sy32 div:hover {
 cursor:default;
 }
.sy32 img:hover{
  cursor:default;
 }
 

 
 
 #mf2 {
 border: 2px solid red ; 
 }