* {margin:0px;padding:0px;}
a img{border:none;}/* Убираем рамку вокруг изображений-ссылок */	

/*.clear{clear:both;}*/

/*	frame table	*/
#mf4 {	/*	1 рамка главное меню	*/
 border: 1px solid #ad1e00 ;
 width: 584px;	/*	ширина меню	(584=12s)	*/
}
#mf2 {
 border: 2px solid #f79518 ; 
 }
#mf3 {
 border: 2px solid #742200 ;
 }
/*	end frame table	*/
/* frame table	2	*/
#lf{
width : 5px ;
height: 58px ;
background: #0085ED url('style/l.png') no-repeat;
float:left;
}
#tf{
width : 576px ;
height: 5px ;
background: #0085ED url('style/t.png') no-repeat;
float:left;
}
#bf{
width : 576px ;
height: 5px ;
background: #0085ED url('style/b.png') no-repeat;
float:left;

}
#rf{
width : 5px ;
height: 58px ;
background: #0085ED url('style/r.png') no-repeat;
float:left;
margin-top:-53px;
}


/*	end frame table	2	*/
/*	main menu	*/
#mmenu {
 margin: 0px ;
 padding: 5px ;
 width : auto ;
 height: 48px ; /*	высота полосы значков	*/ 
 background: #0085ED url('bg.png') ;/*Фон изображение меню*/
 list-style: none ;
 float:left;
}
#mmenu img {
 width : 48px ; /*	высота значков	*/
 float: left ;
 margin:0px; 
 padding:0px;
}
.mm{
float:left;
}
.mm img:hover {
 background: red ;
}
/*	end main menu	*/
/*	content menu	*/
#menu {
 margin: 0px ;
 padding: 0px ;
 width : auto ;
 height: 384px ;	/*	высота панели	*/
 /*	height 384 = 8 s	*/
 background: #0085ED url('im2.png') ;/*Фон изображение меню*/
 list-style: none ;
}
#menu img {
width : 48px ;
 float: left ;
 margin:0px; 
}
.cm img:hover {
 background: yellow ;
}
/*	end content menu	*/






/*	дoполнитeльное	*/







/*	end дoполнитeльное	*/
